.reminder-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid #eaeaea;
    .reminder-item__title {
        font-size: 1.2rem;
        font-weight: 500;
        color: #333;
    }
    .reminder-item__date {
        font-size: 0.8rem;
        font-weight: 400;
        color: #999;
    }
    .reminder-item__delete {
        font-size: 1.2rem;
        font-weight: 500;
        color: #999;
    }
}